<!DOCTYPE html>
<html>

{{>style}}

<body>  
  <div class="main-content">
    {{>header}}

    <p>{{text}}</p>

    <form>
      <input placeholder="Location">
      <button>Search</button>
    </form>

    <p id="success-response"></p>
    <p id="error-response"></p>
  </div>

  {{>footer}}

  <script src="./js/websiteScript.js"></script>
</body>

</html>