<header>
    <h1>{{title}}</h1>

    <div>
        <a href="/">Welcome</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
        <a href="/weather">Weather</a>
        <a href="/notexist">Error</a>
    </div>
</header>